@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./scroll.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Catamaran", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-primaryOpac-color: #ec373763;
  --main-primary-color: #ec3737;
  --main-secondary-color: #43b839;
  --main-white-color: #f5f5f5;
  --main-black-color: rgb(26, 26, 26);
}

body {
  overflow-x: hidden;
  background: var(--main-white-color);
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

#container .sidebar {
  padding: 10px !important;
  background: #fff;
  min-width: 250px;
}

#container .sidebar .logo {
  height: 60px;
  width: 80%;
  margin-bottom: 20px !important;
}

#container .sidebar .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#container .sidebar .menu {
  list-style: none;
}

#container .sidebar .menu li {
  padding: 10px 0 10px 20px !important;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

#container .sidebar .menu li a {
  text-decoration: none;
  color: var(--main-black-color);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 15px;
}

#container .sidebar .menu li a i {
  margin-right: 15px !important;
}

#container .sidebar .menu li a span {
  font-weight: 400;
  text-transform: uppercase;
}

#container .sidebar .menu li.active {
  background: var(--main-primary-color);
}

#container .sidebar .menu li.active a {
  color: #fff;
}

#container .sidebar .menu li:hover {
  background: var(--main-primary-color);
}

#container .sidebar .menu li:hover a {
  color: #fff;
}

#container .sidebar .menu li:nth-child(n + 1) {
  margin-bottom: 10px !important;
}

#container .sidebar.active {
  min-width: auto;
}

#container .sidebar.active .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .sidebar.active .menu li span {
  display: none;
}

#container .content {
  width: 100%;
}

#container .content nav {
  margin: 10px !important;
  border-radius: 10px;
  background: #fff;
  padding: 7px 7px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content nav .bars {
  position: relative;
  cursor: pointer;
  padding: 10px 8px !important;
}

#container .content nav .bars div {
  width: 25px;
  height: 3px;
  background: var(--main-primary-color);
  border-radius: 3px;
  margin: 3px !important;
}

#container .content nav .bars div:nth-child(2n) {
  width: 15px;
}

#container .content nav .bars:active::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -4px;
  right: -4px;
  bottom: -7px;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  -webkit-animation: clicked 0.1s ease-in-out forwards;
          animation: clicked 0.1s ease-in-out forwards;
}

@-webkit-keyframes clicked {
  from {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  to {
    top: -10px;
    left: -7px;
    right: -7px;
    bottom: -10px;
  }
}

@keyframes clicked {
  from {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  to {
    top: -10px;
    left: -7px;
    right: -7px;
    bottom: -10px;
  }
}

#container .content nav .profile {
  background: var(--main-primary-color);
  padding: 5px 10px 5px 5px !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#container .content nav .profile:active {
  opacity: 0.9;
}

#container .content nav .profile .img {
  width: 45px;
  height: 50px !important;
  border-radius: 2.5px;
  overflow: hidden;
}

#container .content nav .profile .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#container .content nav .profile .name {
  margin: 2px 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container .content nav .profile .name h4 {
  font-size: 15px;
  font-weight: 600;
  color: var(--main-white-color);
}

#container .content nav .profile .name span {
  font-weight: 400;
  font-size: 13px;
  color: var(--main-white-color);
  opacity: 0.9;
}

#container .content .pages {
  margin: 30px !important;
}

#container .content .pages #page1 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page1 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page1 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page1 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page1 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page1 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page1 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page1 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page1 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page1 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page1 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page1 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page1 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page1 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page1 .pagebody {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container .content .pages #page1 .pagebody .cardwrapper {
  width: 30%;
  height: 150px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  position: relative;
}

#container .content .pages #page1 .pagebody .cardwrapper span {
  font-weight: 800;
  font-size: 100px;
  color: var(--main-black-color);
  opacity: 0.5;
  -webkit-transform: scale(1.2, 1.3);
          transform: scale(1.2, 1.3);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#container .content .pages #page1 .pagebody .cardwrapper:nth-child(2n-1) {
  border-top: 4px solid var(--main-primary-color);
}

#container .content .pages #page1 .pagebody .cardwrapper:nth-child(2n) {
  border-top: 4px solid var(--main-secondary-color);
}

#container .content .pages #page1 .pagebody .cardwrapper i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
  font-size: 150px;
}

#container .content .pages #page2 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page2 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page2 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page2 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page2 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page2 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page2 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page2 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page2 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page2 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page2 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page2 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pagebody {
  padding: 20px 0 0 0;
}

#container .content .pages #page2 .pagebody table {
  width: 100%;
}

#container .content .pages #page2 .pagebody table thead tr th {
  color: var(--main-primary-color);
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

#container .content .pages #page2 .pagebody table thead tr th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

#container .content .pages #page2 .pagebody table thead tr th:last-child {
  border-radius: 0px 5px 0px 0px;
}

#container .content .pages #page2 .pagebody table tbody tr #tableimage {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

#container .content .pages #page2 .pagebody table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #1a1a1aa4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

#container .content .pages #page2 .pagebody table tbody tr td .statusactive {
  background: rgba(62, 202, 49, 0.37);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page2 .pagebody table tbody tr td .statusactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3ebb18;
}

#container .content .pages #page2 .pagebody table tbody tr td .statusinactive {
  background: rgba(70, 70, 70, 0.103);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page2 .pagebody table tbody tr td .statusinactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a7a7;
}

#container .content .pages #page2 .pagebody table tbody tr td.eye button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pagebody table tbody tr td.action button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pagebody table tbody tr td a {
  text-decoration: none;
  color: #1a1a1aa4;
}

#container .content .pages #page2 .pagebody table tbody tr:hover {
  border-left: 4px solid var(--main-primary-color);
  border-right: 4px solid var(--main-primary-color);
}

#container .content .pages #page2 .pagebody table tbody tr:hover td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

#container .content .pages #page2 .pagebody table tbody tr:hover td:last-child {
  border-radius: 0px 5px 5px 0px;
}

#container .content .pages #page2 .pagebody table tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}

#container .content .pages #page2 .pagebody table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

#container .content .pages #page2 .pagefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#container .content .pages #page2 .pagefooter .pagination button {
  margin: 0 5px;
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .content .pages #page2 .pagefooter .pagination button:hover {
  background: var(--main-primary-color);
  color: #fff;
}

#container .content .pages #page2 .pagemodal .addslider .body .multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#container .content .pages #page2 .pagemodal .addslider .body .multiple .form:first-child {
  margin: 0 5px 0 0;
}

#container .content .pages #page2 .pagemodal .addslider .body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#container .content .pages #page2 .pagemodal .addslider .body .form span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-black-color);
}

#container .content .pages #page2 .pagemodal .addslider .body .form span strong {
  color: var(--main-primary-color);
}

#container .content .pages #page2 .pagemodal .addslider .body .form input,
#container .content .pages #page2 .pagemodal .addslider .body .form textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  outline: none;
  background: none;
  border-radius: 2.5px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 15px;
  resize: none;
}

#container .content .pages #page2 .pagemodal .addslider .body .form input:focus,
#container .content .pages #page2 .pagemodal .addslider .body .form textarea:focus {
  border: 1px solid var(--main-primary-color);
}

#container .content .pages #page2 .pagemodal .addslider .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page2 .pagemodal .addslider .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page2 .pagemodal .addslider .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page2 .deletereservation .body .message {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

#container .content .pages #page2 .deletereservation .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page2 .deletereservation .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page2 .deletereservation .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page3 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page3 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page3 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page3 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page3 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page3 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page3 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page3 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page3 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page3 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page3 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page3 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pagebody {
  padding: 20px 0 0 0;
}

#container .content .pages #page3 .pagebody table {
  width: 100%;
}

#container .content .pages #page3 .pagebody table thead tr th {
  color: var(--main-primary-color);
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

#container .content .pages #page3 .pagebody table thead tr th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

#container .content .pages #page3 .pagebody table thead tr th:last-child {
  border-radius: 0px 5px 0px 0px;
}

#container .content .pages #page3 .pagebody table tbody tr #tableimage {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

#container .content .pages #page3 .pagebody table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #1a1a1aa4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

#container .content .pages #page3 .pagebody table tbody tr td .statusactive {
  background: rgba(62, 202, 49, 0.37);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page3 .pagebody table tbody tr td .statusactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3ebb18;
}

#container .content .pages #page3 .pagebody table tbody tr td .statusinactive {
  background: rgba(70, 70, 70, 0.103);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page3 .pagebody table tbody tr td .statusinactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a7a7;
}

#container .content .pages #page3 .pagebody table tbody tr td.eye button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pagebody table tbody tr td.action button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pagebody table tbody tr:hover {
  border-left: 4px solid var(--main-primary-color);
  border-right: 4px solid var(--main-primary-color);
}

#container .content .pages #page3 .pagebody table tbody tr:hover td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

#container .content .pages #page3 .pagebody table tbody tr:hover td:last-child {
  border-radius: 0px 5px 5px 0px;
}

#container .content .pages #page3 .pagebody table tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}

#container .content .pages #page3 .pagebody table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

#container .content .pages #page3 .pagefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#container .content .pages #page3 .pagefooter .pagination button {
  margin: 0 5px;
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .content .pages #page3 .pagefooter .pagination button:hover {
  background: var(--main-primary-color);
  color: #fff;
}

#container .content .pages #page3 .pagemodal .addslider .body .multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#container .content .pages #page3 .pagemodal .addslider .body .multiple .form:first-child {
  margin: 0 5px 0 0;
}

#container .content .pages #page3 .pagemodal .addslider .body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#container .content .pages #page3 .pagemodal .addslider .body .form span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-black-color);
}

#container .content .pages #page3 .pagemodal .addslider .body .form span strong {
  color: var(--main-primary-color);
}

#container .content .pages #page3 .pagemodal .addslider .body .form input,
#container .content .pages #page3 .pagemodal .addslider .body .form textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  outline: none;
  background: none;
  border-radius: 2.5px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 15px;
  resize: none;
}

#container .content .pages #page3 .pagemodal .addslider .body .form input:focus,
#container .content .pages #page3 .pagemodal .addslider .body .form textarea:focus {
  border: 1px solid var(--main-primary-color);
}

#container .content .pages #page3 .pagemodal .addslider .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page3 .pagemodal .addslider .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page3 .pagemodal .addslider .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page3 .deleteslider .body .message {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

#container .content .pages #page3 .deleteslider .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page3 .deleteslider .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page3 .deleteslider .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page4 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page4 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page4 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page4 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page4 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page4 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page4 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page4 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page4 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page4 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page4 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page4 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pagebody {
  padding: 20px 0 0 0;
}

#container .content .pages #page4 .pagebody table {
  width: 100%;
}

#container .content .pages #page4 .pagebody table thead tr th {
  color: var(--main-primary-color);
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

#container .content .pages #page4 .pagebody table thead tr th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

#container .content .pages #page4 .pagebody table thead tr th:last-child {
  border-radius: 0px 5px 0px 0px;
}

#container .content .pages #page4 .pagebody table tbody tr #tableimage {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

#container .content .pages #page4 .pagebody table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #1a1a1aa4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

#container .content .pages #page4 .pagebody table tbody tr td .statusactive {
  background: rgba(62, 202, 49, 0.37);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page4 .pagebody table tbody tr td .statusactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3ebb18;
}

#container .content .pages #page4 .pagebody table tbody tr td .statusinactive {
  background: rgba(70, 70, 70, 0.103);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page4 .pagebody table tbody tr td .statusinactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a7a7;
}

#container .content .pages #page4 .pagebody table tbody tr td.eye button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pagebody table tbody tr td.action button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pagebody table tbody tr td a {
  text-decoration: none;
  color: #1a1a1aa4;
}

#container .content .pages #page4 .pagebody table tbody tr:hover {
  border-left: 4px solid var(--main-primary-color);
  border-right: 4px solid var(--main-primary-color);
}

#container .content .pages #page4 .pagebody table tbody tr:hover td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

#container .content .pages #page4 .pagebody table tbody tr:hover td:last-child {
  border-radius: 0px 5px 5px 0px;
}

#container .content .pages #page4 .pagebody table tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}

#container .content .pages #page4 .pagebody table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

#container .content .pages #page4 .pagefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#container .content .pages #page4 .pagefooter .pagination button {
  margin: 0 5px;
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .content .pages #page4 .pagefooter .pagination button:hover {
  background: var(--main-primary-color);
  color: #fff;
}

#container .content .pages #page4 .pagemodal .addslider .body .multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#container .content .pages #page4 .pagemodal .addslider .body .multiple .form:first-child {
  margin: 0 5px 0 0;
}

#container .content .pages #page4 .pagemodal .addslider .body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#container .content .pages #page4 .pagemodal .addslider .body .form span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-black-color);
}

#container .content .pages #page4 .pagemodal .addslider .body .form span strong {
  color: var(--main-primary-color);
}

#container .content .pages #page4 .pagemodal .addslider .body .form input,
#container .content .pages #page4 .pagemodal .addslider .body .form textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  outline: none;
  background: none;
  border-radius: 2.5px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 15px;
  resize: none;
}

#container .content .pages #page4 .pagemodal .addslider .body .form input:focus,
#container .content .pages #page4 .pagemodal .addslider .body .form textarea:focus {
  border: 1px solid var(--main-primary-color);
}

#container .content .pages #page4 .pagemodal .addslider .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page4 .pagemodal .addslider .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page4 .pagemodal .addslider .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page4 .deletereservation .body .message {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

#container .content .pages #page4 .deletereservation .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page4 .deletereservation .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page4 .deletereservation .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page5 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page5 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page5 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page5 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page5 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page5 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page5 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page5 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page5 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page5 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page5 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page5 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pagebody {
  padding: 20px 0 0 0;
}

#container .content .pages #page5 .pagebody table {
  width: 100%;
}

#container .content .pages #page5 .pagebody table thead tr th {
  color: var(--main-primary-color);
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

#container .content .pages #page5 .pagebody table thead tr th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

#container .content .pages #page5 .pagebody table thead tr th:last-child {
  border-radius: 0px 5px 0px 0px;
}

#container .content .pages #page5 .pagebody table tbody tr #tableimage {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

#container .content .pages #page5 .pagebody table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #1a1a1aa4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

#container .content .pages #page5 .pagebody table tbody tr td .statusactive {
  background: rgba(62, 202, 49, 0.37);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page5 .pagebody table tbody tr td .statusactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3ebb18;
}

#container .content .pages #page5 .pagebody table tbody tr td .statusinactive {
  background: rgba(70, 70, 70, 0.103);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page5 .pagebody table tbody tr td .statusinactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a7a7;
}

#container .content .pages #page5 .pagebody table tbody tr td.eye button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pagebody table tbody tr td.action button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pagebody table tbody tr:hover {
  border-left: 4px solid var(--main-primary-color);
  border-right: 4px solid var(--main-primary-color);
}

#container .content .pages #page5 .pagebody table tbody tr:hover td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

#container .content .pages #page5 .pagebody table tbody tr:hover td:last-child {
  border-radius: 0px 5px 5px 0px;
}

#container .content .pages #page5 .pagebody table tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}

#container .content .pages #page5 .pagebody table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

#container .content .pages #page5 .pagefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#container .content .pages #page5 .pagefooter .pagination button {
  margin: 0 5px;
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .content .pages #page5 .pagefooter .pagination button:hover {
  background: var(--main-primary-color);
  color: #fff;
}

#container .content .pages #page5 .pagemodal .addgallery .body .multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#container .content .pages #page5 .pagemodal .addgallery .body .multiple .form:first-child {
  margin: 0 5px 0 0;
}

#container .content .pages #page5 .pagemodal .addgallery .body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#container .content .pages #page5 .pagemodal .addgallery .body .form span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-black-color);
}

#container .content .pages #page5 .pagemodal .addgallery .body .form span strong {
  color: var(--main-primary-color);
}

#container .content .pages #page5 .pagemodal .addgallery .body .form input,
#container .content .pages #page5 .pagemodal .addgallery .body .form textarea,
#container .content .pages #page5 .pagemodal .addgallery .body .form select {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  outline: none;
  background: none;
  border-radius: 2.5px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 15px;
  resize: none;
}

#container .content .pages #page5 .pagemodal .addgallery .body .form input:focus,
#container .content .pages #page5 .pagemodal .addgallery .body .form textarea:focus,
#container .content .pages #page5 .pagemodal .addgallery .body .form select:focus {
  border: 1px solid var(--main-primary-color);
}

#container .content .pages #page5 .pagemodal .addgallery .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page5 .pagemodal .addgallery .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page5 .pagemodal .addgallery .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page5 .deletegallery .body .message {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

#container .content .pages #page5 .deletegallery .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page5 .deletegallery .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page5 .deletegallery .footer .buttons button:active {
  opacity: 0.7;
}

#container .content .pages #page6 .pageheading {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .content .pages #page6 .pageheading .pagetitle h2 {
  font-weight: 900;
  color: var(--main-black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

#container .content .pages #page6 .pageheading .pagetitle span {
  font-weight: 400;
  color: var(--main-black-color);
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#container .content .pages #page6 .pageheading .pagetitle span i {
  color: var(--main-primary-color);
}

#container .content .pages #page6 .pageheading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page6 .pageheading .actions .search {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#container .content .pages #page6 .pageheading .actions .search i {
  color: var(--main-primary-color);
}

#container .content .pages #page6 .pageheading .actions .search input {
  font-weight: 400;
  opacity: 0.5;
  border: none;
  background: none;
  outline: none;
}

#container .content .pages #page6 .pageheading .actions .search input::-webkit-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page6 .pageheading .actions .search input:-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page6 .pageheading .actions .search input::-ms-input-placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page6 .pageheading .actions .search input::placeholder {
  color: var(--main-black-color);
}

#container .content .pages #page6 .pageheading .actions .add {
  margin-left: 10px !important;
  background: var(--main-primary-color);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .content .pages #page6 .pageheading .actions .add:hover {
  background: #fff;
  color: var(--main-primary-color);
}

#container .content .pages #page6 .pagebody {
  padding: 20px 0 0 0;
}

#container .content .pages #page6 .pagebody table {
  width: 100%;
}

#container .content .pages #page6 .pagebody table thead tr th {
  color: var(--main-primary-color);
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

#container .content .pages #page6 .pagebody table thead tr th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

#container .content .pages #page6 .pagebody table thead tr th:last-child {
  border-radius: 0px 5px 0px 0px;
}

#container .content .pages #page6 .pagebody table tbody tr #tableimage {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

#container .content .pages #page6 .pagebody table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #1a1a1aa4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

#container .content .pages #page6 .pagebody table tbody tr td .statusactive {
  background: rgba(62, 202, 49, 0.37);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page6 .pagebody table tbody tr td .statusactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3ebb18;
}

#container .content .pages #page6 .pagebody table tbody tr td .statusinactive {
  background: rgba(70, 70, 70, 0.103);
  border-radius: 20px;
  position: relative;
  padding: 3px 10px 3px 25px;
  font-size: 12px;
}

#container .content .pages #page6 .pagebody table tbody tr td .statusinactive::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #a7a7a7;
}

#container .content .pages #page6 .pagebody table tbody tr td.eye button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page6 .pagebody table tbody tr td.action button {
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
}

#container .content .pages #page6 .pagebody table tbody tr td a {
  text-decoration: none;
  color: #1a1a1aa4;
}

#container .content .pages #page6 .pagebody table tbody tr:hover {
  border-left: 4px solid var(--main-primary-color);
  border-right: 4px solid var(--main-primary-color);
}

#container .content .pages #page6 .pagebody table tbody tr:hover td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

#container .content .pages #page6 .pagebody table tbody tr:hover td:last-child {
  border-radius: 0px 5px 5px 0px;
}

#container .content .pages #page6 .pagebody table tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}

#container .content .pages #page6 .pagebody table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 5px 0px;
}

#container .content .pages #page6 .pagefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#container .content .pages #page6 .pagefooter .pagination button {
  margin: 0 5px;
  background: none;
  outline: none;
  border: none;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#container .content .pages #page6 .pagefooter .pagination button:hover {
  background: var(--main-primary-color);
  color: #fff;
}

#container .content .pages #page6 .deletecontact .body .message {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

#container .content .pages #page6 .deletecontact .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .content .pages #page6 .deletecontact .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#container .content .pages #page6 .deletecontact .footer .buttons button:active {
  opacity: 0.7;
}

#settingsModal .body {
  padding: none !important;
}

#settingsModal .body ul {
  list-style: none;
  width: 100%;
  margin-bottom: 0 !important;
}

#settingsModal .body ul li {
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#settingsModal .body ul li a {
  text-decoration: none;
  color: var(--main-black-color);
}

#settingsModal .body ul li span {
  font-weight: 300;
  color: var(--main-black-color);
}

#settingsModal .body ul li:hover {
  background: var(--main-white-color);
}

#settingsModal .body ul li:first-child {
  border-top: none !important;
}

#settingsModal .body ul li:last-child span {
  color: var(--main-primary-color);
}

#settingsModal .body ul li:last-child i {
  color: var(--main-primary-color);
}

#settingsModal .body ul li:nth-child(n + 1) {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

#changepassword .body .multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#changepassword .body .multiple .form:first-child {
  margin: 0 5px 0 0;
}

#changepassword .body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#changepassword .body .form span {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-black-color);
}

#changepassword .body .form span strong {
  color: var(--main-primary-color);
}

#changepassword .body .form input {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  outline: none;
  background: none;
  border-radius: 2.5px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 15px;
}

#changepassword .body .form input:focus {
  border: 1px solid var(--main-primary-color);
}

#changepassword .footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#changepassword .footer .buttons button {
  outline: none;
  border: none;
  background: var(--main-primary-color);
  border-radius: 2.5px;
  padding: 5px 10px;
  color: #fff;
}

#changepassword .footer .buttons button:active {
  opacity: 0.7;
}

.descriptionModal .modal-content .body p {
  font-size: 17px;
  font-weight: 300;
  color: var(--main-black-color);
}

.modal-backdrop {
  background-color: #dadada;
}

.modal-content {
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.05);
}

.modal .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.modal .heading span {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--main-primary-color);
}

.modal .heading .close {
  opacity: 0.1;
}

.modal .heading .close:hover {
  color: var(--main-primary-color);
  cursor: pointer;
}

.modal .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.089);
}
/*# sourceMappingURL=index.css.map */